/* Builder Component: Liste Événements */
.builder-list-event {
    background-color: var(--surface-container-low);
}

.builder-list-event .section-title {
    color: var(--primary);
    text-align: center;
    margin-bottom: var(--spacing-12);
}
